---
---
{% assign series_titles = site.data.venue_mapping %}

<div class="bib-entry">
    <p class="title"><span style="color: rgb(0,128,128);">[{{ entry.series }}]</span> {{ entry.title }}</p>

    <p class="body"><em>{{ entry.author | replace_first: 'Jinhan Kim', '<span
    style="font-weight: 600;">Jinhan Kim</span>' | replace: ' and',
    ',' }}</em></p>

    {% if entry.keywords == "journal" %}
        {% if entry.link %}
        <p class="body"><em style="font-style: italic;"><a target= "_blank" href="{{ entry.link }}">{{ entry.journal }}</a></em>
        {% else %}
        <p class="body"><em style="font-style: italic;">{{ entry.journal }}</em>
        {% endif %}

        {{ entry.year }}

        {% if links.pdf %}        
            <a class="divider">|</a> <a href="{{ links.pdf }}" target="_blank">pdf</a>
        {% endif %}
        </p>

    {% else %}
        {% if entry.link %}
        <p class="body"><em style="font-style: italic;"><a target= "_blank" href="{{ entry.link }}">{{ entry.booktitle }}</a></em>
        {% else %}
        <p class="body"><em style="font-style: italic;">{{ entry.booktitle }}</em>
        {% endif %}

        {{ entry.year }}

        {% if links.pdf %}        
            <a class="divider">|</a> <a href="{{ links.pdf }}" target="_blank">pdf</a>
        {% endif %}
        </p>
    {% endif %}
    

    {% if entry.memo %}
        <p class="body"><em style="color: rgb(0,128,128);">{{ entry.memo }}</em></p> 
    {% endif %}

</div>