---
---
{% assign series_titles = site.data.venue_mapping %}

<div class="bib-entry">
    <p class="title">{{ entry.title }}</p>

    <p class="body"><em>{{ entry.author | replace_first: 'Jinhan Kim', '<span
    style="font-weight: 600;">Jinhan Kim</span>' | replace: ' and',
    ',' }}</em></p>
    {% if entry.type == "unpublished" %}
        <p><em>Submitted in {{ entry.year }} {% if entry.keywords == "journal"
        %} as a journal paper {% endif %} {% if entry.memo %} ({{ entry.memo }}) {% endif %}</em></p>    
    {% else %}
    <p class="body">
    <em>
        {% if entry.link %}
            <a target= "_blank" href="{{ entry.link }}" title="{{ series_titles[entry.series] }}">{{ entry.series }}</a>
        {% else %}
            {{ entry.series }}
        {% endif %}
        {% if entry.type == "article" %} {{ entry.year }} {% endif %}
        {% if links.pdf %}        
        <!-- <a class="ref-button" href="{{ links.pdf }}" target="_blank">PDF</a> -->
        <a class="divider">|</a> <a href="{{ links.pdf }}" target="_blank">pdf</a>
        {% endif %}

        {% if entry.memo %} <a class="divider">|</a> <span class="memo">{{ entry.memo }}</span> {% endif %}
    </em>
    </p> 
    {% endif %}

</div>