<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="Jinhan Kim personal website" />
    <meta
      name="keywords"
      content="jinhan, jinhankim, jinhan kim, usi, usi lugano, kaist, software, software engineering, computer, research"
    />
    <meta name="author" content="Jinhan Kim" />

    <meta name="description" content="Jinhan Kim" />

    <link
      rel="shortcut icon"
      href="{{ '/assets/favicon/favicon.ico' | relative_url }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ '/assets/favicon/favicon.ico' | relative_url }}"
      type="image/x-icon"
    />

    <title>{{ site.title }}</title>

    <link
      rel="stylesheet"
      href="{{ '/assets/css/normalize.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/skeleton.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <script
      src="https://kit.fontawesome.com/4f8566dd60.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <img
          src="{{ '/assets/images/jinhan-kim.svg' | relative_url }}"
          class="filter-white"
        />
      </div>
      <div class="row">
        <div class="one-half column">
          <img
            class="u-pull-left"
            src="{{ '/assets/images/profile_resized.jpg' | relative_url }}"
            alt="Jinhan Kim"
            id="profile_img"
          />
        </div>
        <div class="one-half column" id="info">
          <p>Jinhan Kim,</p>
          <p>Postdoctoral Researcher,</p>
          <p><a href="https://www.si.usi.ch/">Software Institute</a>,</p>
          <p>
            <a href="https://www.usi.ch/en"
              >Università della Svizzera italiana</a
            >,
          </p>
          <p>
            Office D3.18 (Level P3), Sector D, Campus East, Via la Santa 1, 6962
            Viganello, Switzerland
          </p>
          <p>Email: <a href="">jinhan.kim [at-symbol] usi.ch</a></p>
          <p>
            CV:
            <a
              target="_blank"
              href="{{ '/assets/files/Jinhan_s_cv.pdf' | relative_url }}"
              >pdf</a
            >
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <p>
          Jinhan Kim is a postdoc at TAU lab in
          <a href="https://www.usi.ch/en"
            >Università della Svizzera italiana (USI)</a
          >
          led by
          <a href="https://www.inf.usi.ch/faculty/tonella/#/"
            >Prof. Paolo Tonella</a
          >. He completed his Ph.D. degree from
          <a href="https://kaist.ac.kr/en/">KAIST</a> under the supervision of
          <a href="https://coinse.github.io/members/shin.yoo/">Prof. Shin Yoo</a>,
          where he focused on software engineering research, particularly on
          mutation testing, AI4SE, and SE4AI.
        </p>
      </div>
      <hr />

      {% include news.html %}

      <hr />
      <div class="row bib-body">
        <h4>Publications</h4>
        {{ content }}
      </div>

      <hr />
      <div class="row services">
        <h4>Community Services</h4>
        <h5>Conference Organising Committee</h5>
        <ul>
          <li>
            Year 2025: <a href="https://conf.researchr.org/home/icse-2025/deeptest-2025">DeepTest</a> (Workshop Organiser)
          </li>
        </ul>
        <h5>Conference Program Committee</h5>
        <ul>
          <li>
            Year 2025:
            <a href="https://conf.researchr.org/home/issta-2025">ISSTA</a>
            (Research Track), <a href="https://conf.researchr.org/home/ase-2025">ASE</a> (NIER, Student Research Competition Tracks), <a href="https://sbft25.github.io/">SBFT</a>, <a href="https://conf.researchr.org/home/icst-2025/mutation-2025">Mutation</a>, <a href="https://demessai.github.io/">DeMeSSAI</a>
          </li>

          <li>
            Year 2024:
            <a href="https://www.ieee-scam.org/2024/">SCAM</a> (Research Track),
            <a href="https://conf.researchr.org/home/icse-2024">ICSE</a>
            (Demonstrations Track),
            <a href="https://conf.researchr.org/home/ase-2024">ASE</a>
            (Demonstrations Track, NIER Track),
            <a href="https://conf.researchr.org/home/icse-2024/deeptest-2024"
              >DeepTest</a
            >, <a href="https://mutation-workshop.github.io/2024/">Mutation</a>
          </li>

          <li>
            Year 2023:
            <a href="https://mutation-workshop.github.io/2023/">Mutation</a>,
            <a href="https://conf.researchr.org/home/ase-2023/">ASE</a> (NIER
            Track),
            <a href="https://conf.researchr.org/home/icsme-2023">ICSME</a>
            (Artifact Evaluation Track)
          </li>

          <li>
            Year 2022:
            <a href="https://mutation-workshop.github.io/2022/">Mutation</a>,
            <a href="https://icst2022.vrain.upv.es/">ICST</a> (Poster Track),
            <a href="https://cyprusconferences.org/icsme2022/">ICSME</a>
            (Registered Reports Track),
            <a href="https://cyprusconferences.org/icsme2022/">ICSME</a>
            (Artifact Evaluation Track)
          </li>

          <li>
            Year 2021:
            <a href="https://mutation-workshop.github.io/2021/">Mutation</a>,
            <a href="https://icsme2021.github.io/index.html">ICSME</a> (Artifact
            Evaluation Track)
          </li>

          <li>
            Year 2020:
            <a href="https://mutation-workshop.github.io/2020/">Mutation</a>
          </li>
        </ul>

        <h5>Journal Board</h5>
        <ul>
          <li>
            Year 2025: <a
              href="https://dl.acm.org/journal/tosem/distinguished-reviewers-board"
              >TOSEM Board of Distinguished Reviewers</a
            >
          </li>
          <li>
            Year 2024: <a
              href="https://dl.acm.org/journal/tosem/distinguished-reviewers-board"
              >TOSEM Board of Distinguished Reviewers</a
            >
          </li>
        </ul>

        <h5>Journal Reviewer</h5>
        <ul>
          <li>Year 2025: TOSEM, EMSE</li>
          <li>Year 2024: TSE, TOSEM, EMSE, JSEP, JSS</li>
          <li>Year 2023: TSE, TOSEM, EMSE, JSEP</li>
          <li>Year 2022: TOSEM, JSEP</li>
          <li>Year 2021: TOSEM, STVR</li>
          <li>Year 2020: IST, JSS</li>
        </ul>
      </div>

      <div class="row" id="footer">
        <p>Last updated: {{ site.time | date: '%B %Y' }}</p>
      </div>
    </div>
  </body>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</html>
